/agradecementos.aux
/apendicea.aux
/apendiceb.aux
/bibliografia.aux
/cap2.aux
/cap3.aux
/cap4.aux
/certificacion.aux
/conclusions.aux
/exemplos.aux
/introducion.aux
/licenza.aux
/resumo.aux
/titulo.aux
